.slider {
  width: 63%;
}
.slider :global(.swiper-pagination-bullet) {
  width: 12px;
  height: 12px;
  background-color: var(--neutrals-60);
}

.slider :global(.swiper-horizontal > .swiper-pagination-bullets) {
  bottom: 0;
}

.slider :global(.swiper-pagination-bullet-active) {
  background-color: var(--brands-primary);
}

.slider :global(.swiper-initialized) {
  padding-bottom: 54px;
}
