.root {
	display: block;
}

.list {
	margin-bottom: 24px;
}

.item {
	margin-bottom: 14px;
}

.item:last-child {
	margin-bottom: 0;
}

.show-more {
	font-weight: 600;
	color: var(--brands-primary);
}

.show-more:hover {
	text-decoration: underline;
}

.show-more-arrow {
	transition: all .2s;
	margin-left: 16px;
	float: right;
	line-height: 24px;
	margin-top: -3px;
}

.show-more-arrow.up {
	transform: rotate(180deg);
}
