.service {
  margin-bottom: 82px;
}

.title {
  margin-bottom: 8px;
}

.description {
  display: inline-block;
  margin-bottom: 24px;
}

.list {
  display: flex;
  column-gap: 32px;
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-right: 10px;
}

.service-icon {
  margin-right: 12px;
  min-width: 48px;
}
