.company-profile {
  padding-top: 120px;
  padding-bottom: 87px;
  margin-bottom: 72px;
  background-color: var(--neutrals-10);
}

.stripe-logo {
  width: 17%;
  max-width: 172px;
  margin-right: 24px;
}

.main-content {
  display: inline-block;
  width: 83%;
}

.contacts {
  margin-bottom: 24px;
}

.title {
  margin-bottom: 12px;
}

.trips {
  display: inline-block;
  font-size: 16px;
  line-height: 1.6;
  vertical-align: top;
  margin-left: 12px;
  padding: 4px 12px;
  color: var(--brands-primary);
  border: 1px solid var(--brands-primary);
  font-weight: 400;
}

.contact-value {
  vertical-align: top;
}

.mail {
  margin-right: 32px;
}

.icon {
  transition: color 0.3s ease;
}

.contact-link:hover .icon {
  color: var(--blue);
}
