.title {
  margin-bottom: 24px;
}

.calendar-wrapper {
  padding: 24px;
  border: 1px solid var(--neutrals-20) ;
  background-color: var(--neutrals-0);
  box-shadow: 0 4px 4px 0 #00000040;
  max-width: 350px;
  width: 100%;
}

.calendar-btn {
  width: 100%;
  border: 1px solid var(--brands-secondary);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s ease;
  margin-bottom: 27px;
}

.calendar-btn:hover {
  border: 1px solid var(--brands-primary);
}

.dayPicker {
  font-size: 0.875rem;
}

.caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.nav {
  display: flex;
  gap: 8px;
  color: var(--brands-primary);
  position: absolute;
  right: 12px;
}

.icon {
  margin-right: 10px;
}

.btn-label {
  color: var(--brands-primary);
  font-weight: 700;
}
