@import './reset.css';
@import './fonts.css';

:root {
  font-family: 'Rubik', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --neutrals-100: #25324B;
  --neutrals-80: #515B6F;
  --neutrals-60: #7C8493;
  --neutrals-40: #A8ADB7;
  --neutrals-20: #D6DDEB;
  --neutrals-10: #F8F8FD;
  --neutrals-0: #FFF;
  --brands-primary: #4640DE;
  --brands-secondary: #CCCCF5;
  --blue: #26a4ff;
  --dark-blue: #302c9d;
  --soap: #D0D4EA;
  --dark-gunmental: #202430;
  --onyx: #363a45;
}

body {
  padding-top: 78px;
  color: var(--neutrals-80)
}

a, li, p, span {
  font-size: 16px;
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  font-weight: 800;
  color: var(--neutrals-100);
}

h1, h2, h3{
  font-family: 'Lato', sans-serif;
}

h1,
h2 {
  font-size: 48px;
  line-height: 1.1;
}

 {
  font-family: 'Lato', sans-serif;
}

h3 {
  font-size: 32px;
  line-height: 1.2;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  line-height: 1.2;
}

h5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
}

a {
  font-weight: 600;
  color: var(--brands-primary);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--blue);
}

.rdp-caption_label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: var(--neutrals-100);
}

.rdp-weekday {
  text-align: left;
  font-size: 14px;
  color: var(--neutrals-60);
  opacity: 1;
}

.rdp-day {
  font-weight: 500;
  color: var(--neutrals-100);
}

.rdp-day:hover,
.rdp-day.selected {
  background-color: var(--brands-primary);
  color: var(--neutrals-0);
  border-radius: 50%;
  border: none;
}

.rdp-disabled {
  color: var(--neutrals-20);
  font-weight: 500;
  opacity: 1;
}

.rdp-disabled:hover {
  background-color: var(--neutrals-0);
  color: var(--neutrals-20);
}
