.content-wrapper {
  display: flex;
  column-gap: 64px;
  margin-bottom: 147px;
}

.main {
  width: 65%;
  max-width: 752px;
}

.aside {
  width: 35%;
  max-width: 376px;
}

.aside-widget {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--neutrals-20);
  margin-bottom: 64px;
}

.aside-widget:last-child {
  margin-bottom: 0;
}

.calendar-sticky {
  position: sticky;
  top: 100px;
}
